<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Byte-Burst</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column">
      <header class="header">
        <h1><a href="/" class="header-link">Byte Burst</a></h1>
        <nav>
          <a href="/" class="nav-link">Home</a>
          |
          {{#if logged_in}}
            {{#if is_dashboard_page}}
              <a href="#" class="nav-link logout-link">Logout</a>
            {{else}}
              <a href="/dashboard" class="nav-link">Dashboard</a>
              |
              <a href="#" class="nav-link logout-link">Logout</a>
            {{/if}}
          {{else}}
            <a href="/login" class="nav-link">Login</a>
            |
            <a href="/register" class="nav-link">Register</a>
          {{/if}}
        </nav>
      </header>

      <main class="container container-fluid mt-5">
        {{{body}}}
      </main>
    </div>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>