<div class="individual-post" data-post-id="{{post.id}}">
  <div class="post">
    <!-- Post Header -->
    <div class="post-header">
      <!-- Input field for editing the title -->
      <input id="edit-title" value="{{post.title}}" class="edit-input" />
    </div>

    <!-- Post Content -->
    <div class="post-body">
      <!-- Input field for editing the content -->
      <textarea
        id="edit-content"
        class="edit-input"
        rows="10"
      >{{post.content}}</textarea>
      <div class="edit-btn-container">
        <button class="cancel-btn">Cancel</button>
        <button class="save-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Include the script for inline editing -->
<script src="/js/editPost.js"></script>