/* Body Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b0c1c8;
}

/* Body Container Styles */
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Header Styles */
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000d3d;
  border-bottom: 1px solid #2978ff;
  transition: color 0.3s;
}

.header h1 {
  margin: 0;
}

/* Navigation Bar Styles */
nav {
  display: flex;
  margin-right: 18px;
  gap: 10px;
  color: #e3e9ea;
}

/* Common Styling for Header and Navigation Links */
.header-link,
.nav-link {
  position: relative;
  text-decoration: none;
  color: #e3e9ea;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 18px;
}

.header-link {
  font-size: 30px;
  margin-left: 18px
}

.header-link:hover,
.nav-link:hover {
  color: #e3e9ea;
  text-decoration: none;
}

.header-link:hover::after,
.nav-link:hover::after {
  width: 100%;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  margin-right: 18px;
  height: 2px;
  width: 0;
  background-color: #e3e9ea;
  bottom: 0;
  transition: width 0.5s ease-in-out !important;
}

.header-link::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: 18px;
  height: 2px;
  width: 0;
  background-color: #e3e9ea;
  bottom: 0px;
  transition: width 0.5s ease-in-out !important;
}

/* Main Content Styles */
main {
  flex: 1;
  padding: 20px; /* Adjust as needed */
}

/* Register Form Styles */

/* Registration Card */
.register-form-card,
.login-form-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
}

/* Header of the Registration Card */
.register-body-header,
.login-body-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Main Content of the Registration Card */
.register-body-content,
.login-body-content {
  display: flex;
  flex-direction: column;
}

/* Form Row (Username, Email, Password) */
.formRow {
  display: flex;
  margin-bottom: 10px;
}

/* Input Field in each Form Row */
.formRow-input {
  flex: 1;
}

/* Label in each Form Row */
.formRow-label {
  width: 120px;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

/* Input Element inside .formRow-input */
.formRow-input input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

/* Button and Message Container */
.button-and-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* Login Message */
.register-message,
.login-message {
  margin: 0;
}

/* Registration and Login Button */
.register-btn,
.login-btn {
  background-color: #266128;
  color: #fff;
  padding: 10px;
  margin-right: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover for Registration and Login Button */
.register-btn:hover,
.login-btn:hover {
  background-color: #45a049;
}

/* Homepage Styles */

/* Main Content Styles for Homepage */
.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
}

/* Welcome Message Styles */
.welcome-container {
  margin-bottom: 20px;
}

/* Post Container Styles */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Individual Post Styles */
.post {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 110%;
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-content {
  font-size: 18px;
  color: #333;
}

.post-info {
  color: #888;
  margin-top: 10px;
}

.post * {
  box-sizing: border-box;
}

/* No Posts Message Styles */
.no-posts {
  color: #888;
  font-size: 18px;
  margin-top: 20px;
}

/* Dashboard Styles */

/* Container for user dashboard information */
.user-dashboard {
  text-align: left;
}

/* Dashboard Header Styles */
.dashboard-header {
  margin-bottom: 20px;
}

/* Style for the line under "Welcome, {{user.user_name}}!" */
.dashboard-header h2 {
  border-bottom: 2px solid #2978ff; 
  padding-bottom: 5px; 
}

/* Container for User's Posts */
.user-posts-container {
  text-align: left;
}

/* Style for the "No posts available" message */
.no-posts-created {
  margin-top: 20px;
  color: #888;
  font-size: 18px;
}
