/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #b0c1c8;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000d3d;
  border-bottom: 1px solid #2978ff;
  transition: color 0.3s;
}

.header h1 {
  margin: 0;
}

nav {
  display: flex;
  margin-right: 18px;
  gap: 10px;
  color: #d6e3e6;
}

.header-link,
.nav-link {
  position: relative;
  text-decoration: none;
  color: #d1e7eb;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 18px;
}

.header-link,
.header-link::after {
  font-size: 30px;
  margin-left: 18px;
}

.header-link:hover,
.nav-link:hover {
  color: #e8f9fb;
  text-decoration: none;
}

.header-link:hover::after,
.nav-link:hover::after {
  width: 100%;
}

.nav-link::after,
.header-link::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #e8f9fb;
  bottom: 0;
  transition: width 0.5s ease-in-out !important;
}

/* Center Content Styles */
.center-content {
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* Adjust the width if needed */
.container {
  width: 100%;
}

/* Main Content Styles */
main {
  flex: 1;
  padding: 20px;
}

/* Homepage Styles */
.homepage-main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
}

/* Form Styles */
.register-form-card,
.login-form-card {
  background-color: #cee0f7;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.register-body-header,
.login-body-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.register-body-main,
.login-body-main {
  padding: 50px;
  justify-content: center;
}

.formRow {
  display: flex;
  margin-bottom: 20px;
}

.formRow-input {
  flex: 1;
}

.formRow-label {
  width: 120px;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

.formRow-input input {
  width: 80%;
  padding: 10px;
  border: 1px solid #c5c2de;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

.button-and-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.register-message,
.login-message {
  margin: 0;
}

.register-btn,
.login-btn {
  background-color: #266128;
  color: #fff;
  padding: 10px;
  margin-right: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn:hover,
.login-btn:hover {
  background-color: #45a049;
}

/* Homepage Main Container Styles */
.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
}

/* Welcome Message Styles */
.welcome-container {
  margin-bottom: 20px;
  width: 90%;
}

.welcome-container h2,
.welcome-container p {
  color: #14083c;
}

.homepage-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Homepage Post Styles */
.homepage-post {
  background-color: #e0eefa;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #89899c;
  border-radius: 8px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.homepage-post-header,
.homepage-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage-post-title a {
  font-size: 24px;
  color: #15064a;
  margin-bottom: 10px;
}

.homepage-post-info {
  font-size: 15px;
  color: #49547b;
}

.homepage-post-content {
  font-size: 21px;
  color: #2d2a4b;
}

.homepage-comment-count {
  font-size: 15px;
  color: #333;
  padding-left: 95%;
}

/* Post Styles */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post {
  background-color: #ddf2ff;
  border: 1px solid #bbbac2;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-title a {
  color: #003ba2;
}

.post-header h3 {
  font-size: 45px;
}

.post-content {
  font-size: 21px;
  color: #333333;
}

.post-info {
  color: #71749c;
  margin-top: 10px;
}

.post * {
  box-sizing: border-box;
}

.no-posts {
  color: #888888;
  font-size: 18px;
  margin-top: 20px;
}

.post-btns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.comment-btn,
.edit-post-btn,
.delete-post-btn {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #0e4271;
  color: #d9e9e8;
  text-align: center;
  font-size: 1rem;
}

.comment-btn:hover,
.edit-post-btn:hover,
.delete-post-btn:hover {
  background-color: #3703a7;
}

/* Dashboard Styles */
.user-dashboard {
  text-align: left;
}

.dashboard-header {
  margin-bottom: 20px;
}

.dashboard-header h2 {
  border-bottom: 2px solid #2978ff;
  padding-bottom: 5px;
}

.user-posts-container {
  text-align: left;
}

.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.no-posts-created {
  margin-top: 20px;
  color: #888;
  font-size: 18px;
}

/* New Post Styles */
.new-post-container {
  margin-top: 20px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  background-color: #ddd9d1;
  padding: 20px;
}

.new-post-form label {
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 20px;
}

.new-post-form input,
.new-post-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.new-post-form textarea {
  height: 150px;
}

.new-post-form .submit-post-btn {
  align-self: flex-end;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #2d3e50;
  color: #d9e9e8;
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
}

.new-post-form .form-group {
  margin-bottom: 15px;
}

.new-post-form input,
.new-post-form textarea,
.new-post-form {
  margin: 10px;
  width: calc(100% - 20px);
}

.new-post-form input,
.new-post-form textarea {
  font-size: 18px;
}

.new-post-form .submit-btn:hover {
  background-color: #1d2d3a;
}

/* Edit Post Styles */
.edit-input {
  padding: 10px;
  margin-bottom: 18px;
}

#edit-title {
  width: 80%;
}

#edit-content {
  width: 100%;
}

.edit-btn-container {
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.save-btn {
  background-color: #1c6c1f;
  color: fff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.save-btn:hover {
  background-color: #015104;
}

.cancel-btn {
  background-color: #bc1f14;
}

.cancel-btn:hover {
  background-color: #a60e03;
}

/* Comment Form Styles */
.hidden {
  display: none;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  background-color: #d9e9e8;
  border-radius: 5px;
  padding: 18px;
  margin-top: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.comment-header {
  margin-bottom: 18px;
}

textarea {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.submit-comment-btn {
  align-self: flex-end;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #304d5b;
  color: #d9e9e8;
  font-size: 1rem;
}

.submit-comment-btn:hover {
  background-color: #17303f;
}

/* Styles for the Comments Section */
.comments-section {
  background-color: #f0f5ff;
  padding: 10px;
  border: 1px solid #bdd2f1;
  border-radius: 5px;
  margin-top: 20px;
}

.comments-section h4 {
  font-size: 24px;
  color: #002b5c;
}

/* Styles for Individual Comments */
.comment {
  background-color: #cedced;
  border: 1px solid #bdd2f1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.comment p {
  color: #022752;
}

.comment .comment-info {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}
